auto-save-list
bookmarks
semanticdb
tramp
url
eshell
games
ido.last
image-dired
thumbs
projectile-bookmarks.eld
projectile.cache
.emacs.desktop
.emacs.desktop.lock
elpa/archives
elpa/*.txt
elpa/pdf-tools-*/epdfinfo
elpa/treemacs-*
.cask
.cache
.lsp-session-v1
ccls
transient
__pycache__