auto-save-list
bookmarks
semanticdb
tramp
url
eshell
recentf
games
ido.last
image-dired
thumbs
projectile-bookmarks.eld
projectile.cache
company-statistics-cache.el
.emacs.desktop
.emacs.desktop.lock
.cask
.cache
.lsp-session-v1
ccls
transient
elpy
__pycache__
elpa/archives
elpa/*.txt
elpa/all-the-icons-ivy-*
elpa/all-the-icons-*
elpa/treemacs-*
elpa/counsel-projectile-*
elpa/counsel-*
elpa/find-file-in-project-*
elpa/ivy-posframe-*
elpa/ivy-rich-*
elpa/ivy-*
elpa/posframe-*
elpa/swiper-*
elpa/lsp-mode-*
elpa/lsp-ui-*
elpa/company-lsp-*
elpa/lsp-treemacs-*
elpa/lsp-ivy-*
elpa/ccls-*
elpa/elpy-*
elpa/pip-requirements-*
elpa/importmagic-*
elpa/py-autopep8-*
elpa/pyvenv-*
elpa/diff-hl-*
elpa/pdf-tools-*