elpa
eln-cache
cloned-packages
auto-save-list
undo-tree-history
org-persist
persp-state-default
bookmarks
semanticdb
ac-comphist.dat
tramp
request
url
eshell
recentf
games
ido.last
dirvish
image-dired
thumbs
projectile-bookmarks.eld
projectile.cache
company-statistics-cache.el
.emacs.desktop
.emacs.desktop.lock
.cask
.cache
.lsp-session-v1
.dap-breakpoints
ccls
reveal.js
transient
elpy
__pycache__
wordel
devdocs
devdocs-browser
nov-places
elgrep-data.el*